In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Elizabeth City,US,2022-06-28 17:34:55,36.2946,-76.2511,85.01,38,0,11.50
1,1,Vidim,RU,2022-06-28 17:39:09,56.4088,103.1106,61.09,86,100,4.50
2,2,Pevek,RU,2022-06-28 17:39:09,69.7008,170.3133,44.38,93,100,14.12
3,3,Busselton,AU,2022-06-28 17:39:10,-33.6500,115.3333,48.18,83,2,9.93
4,4,Kapaa,US,2022-06-28 17:39:10,22.0752,-159.3190,79.12,77,40,12.66

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# #  Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in  max_temp:
#     temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Elizabeth City,US,2022-06-28 17:34:55,36.2946,-76.2511,85.01,38,0,11.50
4,4,Kapaa,US,2022-06-28 17:39:10,22.0752,-159.3190,79.12,77,40,12.66
5,5,Nishihara,JP,2022-06-28 17:39:11,26.1842,127.7558,81.68,89,20,10.36
19,19,Georgetown,MY,2022-06-28 17:39:18,5.4112,100.3354,82.89,89,20,2.30
24,24,Tucurui,BR,2022-06-28 17:39:20,-3.7661,-49.6725,88.30,53,12,3.78
29,29,Nouadhibou,MR,2022-06-28 17:39:23,20.9310,-17.0347,75.18,60,4,23.02
30,30,Civitavecchia,IT,2022-06-28 17:39:24,42.0933,11.7967,87.44,90,97,9.48
31,31,Victoria,HK,2022-06-28 17:37:25,22.2855,114.1577,88.18,84,99,5.99
33,33,Acapulco,MX,2022-06-28 17:39:25,16.8634,-99.8901,85.82,70,75,4.61
36,36,Kumluca,TR,2022-06-28 17:39:26,36.3703,30.2869,79.86,59,50,3.13

In [12]:
preferred_cities_df.count()

City_ID       212
City          212
Country       211
Date          212
Lat           212
Lng           212
Max Temp      212
Humidity      212
Cloudiness    212
Wind Speed    212
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0   Elizabeth City      US     85.01  36.2946  -76.2511
4            Kapaa      US     79.12  22.0752 -159.3190
5        Nishihara      JP     81.68  26.1842  127.7558
19      Georgetown      MY     82.89   5.4112  100.3354
24         Tucurui      BR     88.30  -3.7661  -49.6725
29      Nouadhibou      MR     75.18  20.9310  -17.0347
30   Civitavecchia      IT     87.44  42.0933   11.7967
31        Victoria      HK     88.18  22.2855  114.1577
33        Acapulco      MX     85.82  16.8634  -99.8901
36         Kumluca      TR     79.86  36.3703   30.2869

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Elizabeth City,US,85.01,36.2946,-76.2511,Hampton Inn Elizabeth City
4,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Nishihara,JP,81.68,26.1842,127.7558,Minshuku Agaihama
19,Georgetown,MY,82.89,5.4112,100.3354,Cititel Penang
24,Tucurui,BR,88.30,-3.7661,-49.6725,BBB Rooms Centro Tucurui PA
29,Nouadhibou,MR,75.18,20.9310,-17.0347,El Medina
30,Civitavecchia,IT,87.44,42.0933,11.7967,Hotel Mediterraneo
31,Victoria,HK,88.18,22.2855,114.1577,Mini Central
33,Acapulco,MX,85.82,16.8634,-99.8901,HS Hotsson Smart Acapulco
36,Kumluca,TR,79.86,36.3703,30.2869,Akkol Apart

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))