## Deliverable 2. Create a Customer Travel Destinations Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [24]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mumford,GH,5.2618,-0.7590,75.81,85,72,10.85,broken clouds
1,1,Coquimbo,CL,-29.9533,-71.3436,56.93,67,75,11.50,broken clouds
2,2,Luderitz,NaN,-26.6481,15.1594,61.68,66,0,1.57,clear sky
3,3,Colares,PT,38.7992,-9.4469,66.76,73,50,24.00,scattered clouds
4,4,Upernavik,GL,72.7868,-56.1549,37.33,83,63,10.63,broken clouds

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the max temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the max temperature you would like for your trip?90

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mumford,GH,5.2618,-0.7590,75.81,85,72,10.85,broken clouds
5,5,Harper,LR,4.3750,-7.7169,76.95,76,100,11.18,overcast clouds
8,8,Kibala,TD,9.1104,18.3463,77.13,70,82,4.18,broken clouds
10,10,Panama City,PA,8.9936,-79.5197,82.35,88,40,6.91,scattered clouds
15,15,Arifwala,PK,30.2940,73.0735,86.54,69,26,5.75,scattered clouds
20,20,Puerto Leguizamo,CO,-0.1934,-74.7819,76.41,96,91,1.74,overcast clouds
23,23,Khash,IR,28.2211,61.2158,84.11,28,18,1.57,few clouds
29,29,Alta Floresta,BR,-9.8756,-56.0861,83.84,39,57,3.11,broken clouds
31,31,Jamestown,US,42.0970,-79.2353,83.05,63,40,9.22,scattered clouds
33,33,Borba,BR,-4.3878,-59.5939,80.76,65,70,1.59,broken clouds

In [28]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                224
City                   224
Country                224
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Current Description    224
dtype: int64

In [36]:
import numpy as np

In [37]:
preferred_cities_df = preferred_cities_df.replace("", np.nan, regex = True) 
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mumford,GH,5.2618,-0.7590,75.81,85,72,10.85,broken clouds
5,5,Harper,LR,4.3750,-7.7169,76.95,76,100,11.18,overcast clouds
8,8,Kibala,TD,9.1104,18.3463,77.13,70,82,4.18,broken clouds
10,10,Panama City,PA,8.9936,-79.5197,82.35,88,40,6.91,scattered clouds
15,15,Arifwala,PK,30.2940,73.0735,86.54,69,26,5.75,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
666,666,Narragansett,US,41.4501,-71.4495,85.98,70,40,19.57,scattered clouds
667,667,Escanaba,US,45.7453,-87.0646,76.51,67,0,14.97,clear sky
668,668,Mount Pleasant,US,32.7941,-79.8626,79.99,88,75,10.36,mist
674,674,Ouagadougou,BF,12.3642,-1.5383,87.93,58,20,4.61,thunderstorm
682,682,Kanniyakumari,IN,8.0833,77.5667,81.61,68,100,24.85,overcast clouds

In [40]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [41]:
clean_df.count()

City_ID                224
City                   224
Country                224
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Current Description    224
dtype: int64

In [42]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mumford,GH,75.81,broken clouds,5.2618,-0.7590,
5,Harper,LR,76.95,overcast clouds,4.3750,-7.7169,
8,Kibala,TD,77.13,broken clouds,9.1104,18.3463,
10,Panama City,PA,82.35,scattered clouds,8.9936,-79.5197,
15,Arifwala,PK,86.54,scattered clouds,30.2940,73.0735,
20,Puerto Leguizamo,CO,76.41,overcast clouds,-0.1934,-74.7819,
23,Khash,IR,84.11,few clouds,28.2211,61.2158,
29,Alta Floresta,BR,83.84,broken clouds,-9.8756,-56.0861,
31,Jamestown,US,83.05,scattered clouds,42.0970,-79.2353,
33,Borba,BR,80.76,broken clouds,-4.3878,-59.5939,

In [43]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[(hotel_df['Hotel Name'].str.len() > 0)]
clean_hotel_df.count()

City                   212
Country                212
Max Temp               212
Current Description    212
Lat                    212
Lng                    212
Hotel Name             212
dtype: int64

In [45]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mumford,GH,75.81,broken clouds,5.2618,-0.7590,Spanish Villa
5,Harper,LR,76.95,overcast clouds,4.3750,-7.7169,Screensaver
8,Kibala,TD,77.13,broken clouds,9.1104,18.3463,Prasant Hotels
10,Panama City,PA,82.35,scattered clouds,8.9936,-79.5197,Trump International Hotel & Tower Panama
15,Arifwala,PK,86.54,scattered clouds,30.2940,73.0735,Rao Noman adv. Office
20,Puerto Leguizamo,CO,76.41,overcast clouds,-0.1934,-74.7819,la casona de juancho
23,Khash,IR,84.11,few clouds,28.2211,61.2158,خوابگاه آبجی محدثه
29,Alta Floresta,BR,83.84,broken clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
31,Jamestown,US,83.05,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
33,Borba,BR,80.76,broken clouds,-4.3878,-59.5939,Hotel da Amazônia

In [48]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [49]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))